* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #333;
  --type-first: Helvetica, Arial, Sans-serif;
  --type-second: 'Spectral', Georgia;

  font-family: var(--type-first);
  padding-top: 4rem;
}

ul,
li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

button,
input {
  display: block;
  font-size: 1rem;
  font-family: var(--type-first);
  color: #333;
}

a {
  text-decoration: none;
}

.container {
  max-width: 50rem; //Ou 800px
  padding: 0 1rem;
  margin: 0 auto;
}